image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
data
log
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile


raw_dataset
raw_dataset_v2_alpha
data_download
logs
.vscode
sandbox.ipynb
*.obj
testVisuals/*
testVisuals
tensorboard.ipynb
*_local.ipynb
nohup.out
src/weights/*
*_local.py
simpleGan
v2logs
*.pt
external/
raw_dataset_v2_alpha_backup/
visuals/
wandb
scannetpp
scannetpp/*
scannetpp